{% extends "layout.html" %}
  {% block title %}
    Login
  {% endblock%}

  {%block header%}
    Login
  {%endblock%}
  {%block body%}
    <form action= "{{ url_for('login') }}" method="post">
        <input class="form-control"type="email" name="email" placeholder="Email"><br>
        <input class= "form-control"type="password" name="password" placeholder="Password"><br>

      {%if message%}
      <p style="color:red;"> * {{message}}</p>
      {%endif%}
        <button class="btn" name="button">Login</button>

    </form>




  {% endblock %}
